.slider{
    width: 100vw;
    margin-top: 85px;
    
    .container{
        width: 500vw;
        transition: all 1s ease;
        display: flex;
    }

    img{

        width: 100vw;
        object-fit: cover;
    }
}